<h2>현재 접속 계정 : <%= current_user.email %></h2>
<h2>현재 접속수 : <%= current_user.counting %></h2>
<h2>접속 중인 <%= current_user.email %>의 책 : <br></h2>
<h3>
  <%if current_user.books.first.nil? && current_user.books.second.nil?%>
      <%= render 'reg' %> <br><br>
      <% @empty = "등록된 책이 없습니다."%>
  <% elsif current_user.books.first.present? && current_user.books.second.present?%>
      <%= render 'list' %> <br><br><br><br>
      <%= "최대 2권까지 가질 수 있습니다."%><br>
  <% elsif current_user.books.first.present? || current_user.books.second.present?%>
      <%= render 'list' %> <br>
      <%= render 'reg' %> <br>
      <%= "한 권 더 선택할 수 있습니다."  %> <br>
  <% else %>
      <%= render 'reg' %>
  <% end %>
  <%= @empty %>
</h3>
<br><br><br><br><br>
<h2>접속 제한 : <%= @limit %></h2>
 <br><br>

  <% @user.each do |u| %>
    ID : <%= u.email %> <br>
    접속 횟수 : <%= u.counting %> <br>
  <% end %>

<br><br>

<%= @message %> <br>
<%= link_to 'go',home_show_path %>
<br><br><br>
<%= @a %>
