<h2>현재 접속 계정 : <%= current_user.email %></h2>
<h2>현재 접속수 : <%= current_user.counting %></h2>
<h2>접속 중인 <%= current_user.email %>의 책 : </h2>
<h3>
  <%if current_user.book.nil?%>
    <%= "등록된 책이 없습니다."%> <br>
    <% @book.each do |b| %>
        <%=b.id%>. 책 <%= b.title %>
        <%= link_to "등록하기", {:controller => "home",:action => "register", :cur_user => current_user.id, :cur_book => b.id} , method: :post %> <br>
    <% end %>
  <% else %>
    <%= current_user.book.title%>
    <%= link_to "삭제", {:controller => "home",:action => "destroy", :cur_user => current_user.id, :cur_book => current_user.book.user_id} , method: :post %><br>
  <% end %>
</h3>




<%=link_to "중고책", home_book_path %>

<p id="notice"><%= notice %></p>
<a href="/users/sign_out">log out</a>
<p><%= current_user.email %></p>













<p>니가 show 페이지에 간 횟수 : <%= current_user.counting %></p>
<a href = '/home/motgam'>show로 가기! </a>
